.page-3 .rectangle-4682 {
  background: #DDDDDD;
  margin-bottom: 11px;
  align-self: flex-start;
  width: 211px;
  height: 20px;
}
.page-3 .rectangle-4683 {
  background: #DDDDDD;
  margin-bottom: 11px;
  width: 422px;
  height: 20px;
}
.page-3 .rectangle-4684 {
  background: #DDDDDD;
  margin-bottom: 11px;
  width: 422px;
  height: 20px;
}
.page-3 .rectangle-4685 {
  background: #DDDDDD;
  align-self: flex-start;
  width: 158px;
  height: 20px;
}
.page-3 .container-11 {
  background: #C0C0C0;
  position: relative;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  padding: 23px 25px 19px 25px;
  width: 472px;
  box-sizing: border-box;
}
.page-3 .rectangle-4679 {
  background: #D9D9D9;
  width: 472px;
  height: 308px;
}
.page-3 .container-5 {
  margin: 1260px 36px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 472px;
  height: fit-content;
  box-sizing: border-box;
}
.page-3 .rectangle-4680 {
  background: #D9D9D9;
  margin: 1455px 236px 0 0;
  width: 472px;
  height: 308px;
}
.page-3 .vector-3 {
  margin: 0 2px 6px 2px;
  width: 31px;
  height: 30px;
}
.page-3 .main {
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  color: #F1824D;
}
.page-3 .frame-2144 {
  margin: 0 7.2px 62px 7.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .epmessage {
  width: 38px;
  height: 40px;
}
.page-3 .message {
  margin-bottom: 6px;
  display: flex;
  width: 38px;
  height: 40px;
  box-sizing: border-box;
}
.page-3 .dm-2 {
  margin: 0 7.1px;
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  color: #F1824D;
}
.page-3 .frame-2145 {
  margin: 0 5.8px 186px 5.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .group {
  margin: 0 9.8px 6px 9.8px;
  width: 30px;
  height: 33px;
}
.page-3 .logout {
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  color: #F1824D;
}
.page-3 .frame-2147 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page-3 .face {
  margin: 0 10.5px 6px 10.5px;
  width: 35px;
  height: 31.5px;
}
.page-3 .mypage {
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 400;
  font-size: 18px;
  color: #F1824D;
}
.page-3 .frame-2146 {
  position: absolute;
  left: 50%;
  top: 289px;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page-3 .navigation {
  background: #FEF1DE;
  position: relative;
  margin-right: 301px;
  display: flex;
  padding: 39px 1px 0 0;
  width: 100px;
  height: 2500px;
  box-sizing: border-box;
}
.page-3 .dm-1 {
  margin-bottom: 57px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.page-3 .line-6 {
  background: #D8D7DB;
  margin-bottom: 30px;
  width: 1119px;
  height: 1px;
}
.page-3 .ellipse-271 {
  border-radius: 35px;
  background: #D9D9D9;
  margin: 4px 24px 29px 0;
  width: 70px;
  height: 70px;
}
.page-3 .container-2 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 700;
  font-size: 16px;
  color: #636363;
}
.page-3 .container-1 {
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 500;
  font-size: 16px;
  color: #636363;
}
.page-3 .group-2195 {
  margin: 4px 24.7px 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page-3 .vector {
  width: 30px;
  height: 37.5px;
}
.page-3 .frame-2140 {
  border-radius: 20px;
  background: #FEF1DE;
  margin-bottom: 26px;
  display: flex;
  padding: 19px 0 20.5px 0.4px;
  width: 85.6px;
  height: 77px;
  box-sizing: border-box;
}
.page-3 .container-10 {
  margin: 0 12.4px 6px 36px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .line-7 {
  background: #D8D7DB;
  width: 1119px;
  height: 1px;
}
.page-3 .group-2196 {
  margin-bottom: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .line-61 {
  background: #D8D7DB;
  margin-bottom: 30px;
  width: 1119px;
  height: 1px;
}
.page-3 .ellipse-2711 {
  border-radius: 35px;
  background: #D9D9D9;
  margin: 4px 24px 29px 0;
  width: 70px;
  height: 70px;
}
.page-3 .container-4 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 700;
  font-size: 16px;
  color: #636363;
}
.page-3 .container-3 {
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 500;
  font-size: 16px;
  color: #636363;
}
.page-3 .group-21951 {
  margin: 4px 24.7px 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page-3 .vector-6 {
  width: 30px;
  height: 37.5px;
}
.page-3 .frame-21401 {
  border-radius: 20px;
  background: #FEF1DE;
  margin-bottom: 26px;
  display: flex;
  padding: 19px 0 20.5px 0.4px;
  width: 85.6px;
  height: 77px;
  box-sizing: border-box;
}
.page-3 .container-7 {
  margin: 0 12.4px 6px 36px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .line-71 {
  background: #D8D7DB;
  width: 1119px;
  height: 1px;
}
.page-3 .group-2197 {
  margin-bottom: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .line-62 {
  background: #D8D7DB;
  margin-bottom: 30px;
  width: 1119px;
  height: 1px;
}
.page-3 .ellipse-2712 {
  border-radius: 35px;
  background: #D9D9D9;
  margin: 4px 24px 29px 0;
  width: 70px;
  height: 70px;
}
.page-3 .container-6 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 700;
  font-size: 16px;
  color: #636363;
}
.page-3 .container-5 {
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 500;
  font-size: 16px;
  color: #636363;
}
.page-3 .group-21952 {
  margin: 4px 24.7px 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page-3 .vector-7 {
  width: 30px;
  height: 37.5px;
}
.page-3 .frame-21402 {
  border-radius: 20px;
  background: #FEF1DE;
  margin-bottom: 26px;
  display: flex;
  padding: 19px 0 20.5px 0.4px;
  width: 85.6px;
  height: 77px;
  box-sizing: border-box;
}
.page-3 .container-3 {
  margin: 0 12.4px 6px 36px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .line-72 {
  background: #D8D7DB;
  width: 1119px;
  height: 1px;
}
.page-3 .group-2198 {
  margin-bottom: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .line-63 {
  background: #D8D7DB;
  margin-bottom: 30px;
  width: 1119px;
  height: 1px;
}
.page-3 .ellipse-2713 {
  border-radius: 35px;
  background: #D9D9D9;
  margin: 4px 24px 29px 0;
  width: 70px;
  height: 70px;
}
.page-3 .container-8 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 700;
  font-size: 16px;
  color: #636363;
}
.page-3 .container-7 {
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 500;
  font-size: 16px;
  color: #636363;
}
.page-3 .group-21953 {
  margin: 4px 24.7px 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page-3 .vector-8 {
  width: 30px;
  height: 37.5px;
}
.page-3 .frame-21403 {
  border-radius: 20px;
  background: #FEF1DE;
  margin-bottom: 26px;
  display: flex;
  padding: 19px 0 20.5px 0.4px;
  width: 85.6px;
  height: 77px;
  box-sizing: border-box;
}
.page-3 .container-2 {
  margin: 0 12.4px 6px 36px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .line-73 {
  background: #D8D7DB;
  width: 1119px;
  height: 1px;
}
.page-3 .group-2199 {
  margin-bottom: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .line-64 {
  background: #D8D7DB;
  margin-bottom: 30px;
  width: 1119px;
  height: 1px;
}
.page-3 .ellipse-2714 {
  border-radius: 35px;
  background: #D9D9D9;
  margin: 4px 24px 29px 0;
  width: 70px;
  height: 70px;
}
.page-3 .container-10 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 700;
  font-size: 16px;
  color: #636363;
}
.page-3 .container-9 {
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 500;
  font-size: 16px;
  color: #636363;
}
.page-3 .group-21954 {
  margin: 4px 24.7px 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page-3 .vector-9 {
  width: 30px;
  height: 37.5px;
}
.page-3 .frame-21404 {
  border-radius: 20px;
  background: #FEF1DE;
  margin-bottom: 26px;
  display: flex;
  padding: 19px 0 20.5px 0.4px;
  width: 85.6px;
  height: 77px;
  box-sizing: border-box;
}
.page-3 .container-6 {
  margin: 0 12.4px 6px 36px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .line-74 {
  background: #D8D7DB;
  width: 1119px;
  height: 1px;
}
.page-3 .group-2200 {
  margin-bottom: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .line-65 {
  background: #D8D7DB;
  margin-bottom: 30px;
  width: 1119px;
  height: 1px;
}
.page-3 .ellipse-2715 {
  border-radius: 35px;
  background: #D9D9D9;
  margin: 4px 24px 29px 0;
  width: 70px;
  height: 70px;
}
.page-3 .container-12 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 700;
  font-size: 16px;
  color: #636363;
}
.page-3 .container-11 {
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 500;
  font-size: 16px;
  color: #636363;
}
.page-3 .group-21955 {
  margin: 4px 24.7px 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.page-3 .vector-10 {
  width: 30px;
  height: 37.5px;
}
.page-3 .frame-21405 {
  border-radius: 20px;
  background: #FEF1DE;
  margin-bottom: 26px;
  display: flex;
  padding: 19px 0 20.5px 0.4px;
  width: 85.6px;
  height: 77px;
  box-sizing: border-box;
}
.page-3 .container-9 {
  margin: 0 12.4px 6px 36px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .line-75 {
  background: #D8D7DB;
  width: 1119px;
  height: 1px;
}
.page-3 .group-2201 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page-3 .line-66 {
  background: #D8D7DB;
  margin-bottom: 30px;
  width: 1119px;
  height: 1px;
}
.page-3 .ellipse-2716 {
  border-radius: 35px;
  background: #D9D9D9;
  margin: 4px 24px 29px 0;
  width: 70px;
  height: 70px;
}
.page-3 .container-13 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 500;
  font-size: 16px;
  color: #636363;
}
.page-3 .container-14 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 700;
  font-size: 16px;
  color: #636363;
}
.page-3 .group-21956 {
  position: relative;
  margin: 4px 24.7px 0 0;
  display: flex;
  padding-top: 23px;
  box-sizing: border-box;
}
.page-3 .vector-11 {
  width: 30px;
  height: 37.5px;
}
.page-3 .frame-21406 {
  border-radius: 20px;
  background: #FEF1DE;
  margin-bottom: 26px;
  display: flex;
  padding: 19px 0 20.5px 0.4px;
  width: 85.6px;
  height: 77px;
  box-sizing: border-box;
}
.page-3 .container-1 {
  margin: 0 12.4px 6px 36px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .line-76 {
  background: #D8D7DB;
  width: 1119px;
  height: 1px;
}
.page-3 .group-2202 {
  position: absolute;
  left: 50%;
  bottom: -150px;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page-3 .line-67 {
  background: #D8D7DB;
  margin-bottom: 30px;
  width: 1119px;
  height: 1px;
}
.page-3 .ellipse-2717 {
  border-radius: 35px;
  background: #D9D9D9;
  margin: 4px 24px 29px 0;
  width: 70px;
  height: 70px;
}
.page-3 .container-15 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 500;
  font-size: 16px;
  color: #636363;
}
.page-3 .container-16 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 700;
  font-size: 16px;
  color: #636363;
}
.page-3 .group-21957 {
  position: relative;
  margin: 4px 24.7px 0 0;
  display: flex;
  padding-top: 23px;
  box-sizing: border-box;
}
.page-3 .vector-12 {
  width: 30px;
  height: 37.5px;
}
.page-3 .frame-21407 {
  border-radius: 20px;
  background: #FEF1DE;
  margin-bottom: 26px;
  display: flex;
  padding: 19px 0 20.5px 0.4px;
  width: 85.6px;
  height: 77px;
  box-sizing: border-box;
}
.page-3 .container-12 {
  margin: 0 12.4px 6px 36px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .line-77 {
  background: #D8D7DB;
  width: 1119px;
  height: 1px;
}
.page-3 .group-2203 {
  position: absolute;
  left: 50%;
  bottom: -300px;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page-3 .line-68 {
  background: #D8D7DB;
  margin-bottom: 30px;
  width: 1119px;
  height: 1px;
}
.page-3 .ellipse-2718 {
  border-radius: 35px;
  background: #D9D9D9;
  margin: 4px 24px 29px 0;
  width: 70px;
  height: 70px;
}
.page-3 .container-17 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 500;
  font-size: 16px;
  color: #636363;
}
.page-3 .container-18 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow-wrap: break-word;
  font-family: 'Pretendard', 'Roboto Condensed';
  font-weight: 700;
  font-size: 16px;
  color: #636363;
}
.page-3 .group-21958 {
  position: relative;
  margin: 4px 24.7px 0 0;
  display: flex;
  padding-top: 23px;
  box-sizing: border-box;
}
.page-3 .vector-13 {
  width: 30px;
  height: 37.5px;
}
.page-3 .frame-21408 {
  border-radius: 20px;
  background: #FEF1DE;
  margin-bottom: 26px;
  display: flex;
  padding: 19px 0 20.5px 0.4px;
  width: 85.6px;
  height: 77px;
  box-sizing: border-box;
}
.page-3 .container-8 {
  margin: 0 12.4px 6px 36px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.page-3 .line-78 {
  background: #D8D7DB;
  width: 1119px;
  height: 1px;
}
.page-3 .group-2204 {
  position: absolute;
  left: 50%;
  bottom: -450px;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.page-3 .dm {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.page-3 .main {
  margin: 73px 0 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.container {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  width: 1920px;
  box-sizing: border-box;
}
